.contacts {
  &__wrapper {
    padding-bottom: 60px;
  }
  &__info {
  }
  &__title {
    font-size: 40px;
    margin: 48px 0;
    font-weight: 700;
  }
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__details {
  }
  &__subtitle {
    font-size: 20px;
    margin-bottom: 16px;
    color: var(--black);
    &:not(:first-of-type) {
      margin-top: 40px;
    }
  }
  &__text {
    font-size: 16px;
    line-height: 1.5;
    color: var(--black);
    font-weight: 300;
  }
  &__phones {
    a {
      display: block;
      margin-top: 10px;
      color: var(--black);
    }
  }
  &__feedback {
    flex-basis: 50%;
  }
  &__form {
  }
  &__input {
    display: block;
    width: 100%;
    padding: 8px 0;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 40px;
    font-size: 16px;
    &::-webkit-input-placeholder {
      font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 14px;
    }
    &::-moz-placeholder {
      font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 14px;
    }
    &:-ms-input-placeholder {
      font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 14px;
    }
    &::-ms-input-placeholder {
      font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 14px;
    }
    &::placeholder {
      font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 14px;
    }
  }
  &__textarea {
    width: 100%;
    height: 158px;
    border: 1px solid #d8d8d8;
    padding: 8px 16px;
    font-size: 16px;
    resize: vertical;
    &::-webkit-input-placeholder {
      font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 14px;
    }
    &::-moz-placeholder {
      font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 14px;
    }
    &:-ms-input-placeholder {
      font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 14px;
    }
    &::-ms-input-placeholder {
      font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 14px;
    }
    &::placeholder {
      font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 14px;
    }
  }
  &__aggrement {
    margin: 30px 0;
    color: var(--grey);
    font-size: 14px;
    line-height: 1.5;
  }
  &__btn {
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 700px) {
  .contacts {
    &__title {
      font-size: 30px;
      margin: 30px 0;
    }
    &__content {
      flex-direction: column;
    }
    &__feedback {
      margin-top: 40px;
      flex-basis: 100%;
    }
  }
}
