@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
aside,
nav,
footer,
header,
section {
  display: block;
}
html,
body {
  height: 100%;
}
body {
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a {
  color: #000;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

#root {
  height: 100%;
}

html.no-scroll body {
  overflow: hidden;
}

:root {
  /* Typography */
  --fw-thin: 300;
  --fw-reg: 400;
  --fw-med: 500;
  --fw-bold: 700;

  /* Other */
  --black: #333;
  --grey: #999;
  --white: #fff;
  --red: #ee2c37;
  --red-hover: #d80410;
  --trans: 0.3s ease-in-out;
}

body {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: var(--fw-reg);
  overflow-x: hidden;
}
